<div class="left-bar-container">
    <div class="profile-container">
        <img src="<%= user.pictureUri %>" />
        <p><%= user.name%></p>
    </div>
    <button onclick="handleLogout(event)">
        <p>Home</p>
        <i class="fa-solid fa-house"></i>
    </button>
    <button onclick="handleLogout(event)">
        <p>Profile</p>
        <i class="fa-solid fa-user"></i>
    </button>
    <button onclick="handleLogout(event)">
        <p>Chats</p>
        <i class="fa-solid fa-comment"></i>
    </button>
    <button onclick="handleLogout(event)">
        <p>Network</p>
        <i class="fa-solid fa-globe"></i>
    </button>
    <button onclick="handleLogout(event)">
        <p>Settings</p>
        <i class="fa-solid fa-gear"></i>
    </button>
    <button onclick="handleLogout(event)">
        <p>Logout</p>
        <i class="fa-solid fa-person-running"></i>
    </button>
</div>
