<nav>
    <div>
        <img src="assets/general/bg.png" alt="Logo" />
    </div>
    <form action="https://google.com/search">
        <input name="q" type="search" class="search" placeholder="Search" />
        <button type="submit">Search</button>
    </form>
</nav>
