<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="styles/partials/Navbar.css" rel="stylesheet" />
        <link href="styles/index.css" rel="stylesheet" />
    </head>
    <body>
        <%- include('partials/Navbar') %>
        <h1>I am server side rendered page</h1>
    </body>
</html>
