* {
    font-family: "Calibri", "Trebuchet MS", sans-serif;
}

input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.493);
}

input:hover,
input:focus,
input:active {
    border: 1px solid rgba(0, 0, 0, 0.76);
}

button {
    background-color: #1990ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #0080ff;
}
