.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-container {
    width: 25%;
}

.right-container {
    width: 25%;
}

.centeral-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.posts-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
